@media (max-width:1030px){


}

@media (max-width:991px){
    /* Common CSS */
    h1,h2{
        font-size: 2.5rem;
    }
    .ipad_px_30{
        padding: 0 1.875rem;
    }
    .home_text h2{
        font-size: 1.5rem;
    }

    /* Header Css */
    .navbar{
        padding-top: 0.625rem;
        padding-bottom: 0.75rem;
    }
    .navbar-brand{
        width: 50%; 
    }
    .navbar-brand img{
        max-width: 60%;
    }
    .navbar-toggler{
        padding-right: 0;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .navbar-toggler-icon{
        color: var(--text-white);
        width: 1em;
        height: 1em;
    }
    .navbar .navbar-nav{
        background: var(--bg-white);
        border-radius: 0.188rem;
        text-align: center;
    }
    .navbar-sticky-on .navbar-toggler-icon{
        color: var(--text-black);
    }
    .navbar .navbar-nav .nav-link{
        padding: 0.625rem 1.5rem;
        color: var(--text-light-grey);
    }

    /* Home CSS */
    #home{
        padding-top: 7rem;
    }
    #home .row{
        flex-direction: column-reverse;
    }
    #home .home_text{
        text-align: center;
        margin-bottom: 2rem;
    }
    #home .home-download-btn{
        justify-content: center;  
    }
    /* #home .home-download-btn span{
        font-size: 1rem;    
    }
    #home .home-download-btn .btn{
        font-size: 1rem;
        padding:  1.5rem 1.5rem;
       
     
    } */
    .home-image img{
        max-width: 60%;
    }
    .home-image{
        text-align: center;
    }

    /* pricing css */
    .single_price{
        margin-bottom: 2.5rem;
    }

}

@media (max-width:767px){
    /* Common CSS */
    .mobile_px_20 {
        padding: 0 1.25rem;
    }
    .home_text h2{
        font-size: 1.5rem;
    }

    /* Home CSS */
    #home{
        padding-top: 5rem;
    }
    #home .home_text h2{
        font-size: 2.438rem;
        line-height: 3.938rem;
    }
    #home .home-download-btn .btn{
        /* margin: 1rem; */
        justify-content: center;
        /* padding-left: 1rem; */
    }
    .home-image{
        text-align: center;
        transform: rotate(0deg);
    }
    /* #home .home-download-btn span{
        font-size: 1.5rem;    
        
    } */
    #home .home-download-btn .btn{
        font-size: 1rem;
        padding:  1rem 1rem;
    }

    /* counter section */
    .single_counter:nth-child(2):after{
        display: none;
    }

    /* Features CSS */
    .mobile_px_20{
        padding: 0 1.25rem;
    }
    .margin_top_up{
        margin-top: 0rem;
    }
    .feature_middle{
        text-align: center;
    }
    .feature_img{
        text-align: center;
        padding-top: 2.5rem;
        
    }
    .feature_img img{
        max-width: 95%;
        
    }
}